.article {
  padding: 0 0 2vh 0;
  border-bottom: .5px solid #777;
}
h4 {
  font-size: 2vw;
}
img {
  max-height: 250px;
}
.info {
  display: flex;
  flex-direction: row;
}
.info p{
  padding: 1vh 2vw;
  margin: 0;
}
.info p:first-child {
  padding-left: 0;
}
p {
  font-size: 1.5vw;
}
button {
  background-color: darkblue;
  color: white;
  padding: 1.5vh 1.2vw;
  font-size: 1.4vw;
  text-align: center;
  border: 1px solid darkblue;
  border-radius: 10px;
}
button:hover {
  transform: translate(2px, 2px);
}